nav ul a,
nav .brand-logo {
  color: #BA7848;
}
#nav-mobile {
  background-color: #fefde6;
}
#nosotros {
  background-color: #fefde6 !important;

}
.cafesito-text {
  color: #BA7848;
}
.itemListInfo {
  color: #BA7848;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #BA7848;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.titulo {
  font-weight: 700;
  border-style: solid;
  color: #BA7848;
}

.menuDesktop >li>a {
  color: #BA7848;

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#modal1 {
  overflow: hidden;
  width: 60vw;
}
.modal-content {
  width: 100%;
  padding: 0 !important;
}
.modal-content > img {
  width: 100%;
}